body {
  height: 100%;
  width: 100%;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#title-container {
  text-transform: uppercase;
  font-weight: 900;
}
#connect-google-account-container,
#accounts-info-container {
  margin: auto;
  height: 80%;
}

#results-div {
  overflow-y: scroll;
  margin-top: 4em;
  font-size: large;
  /* border: rgba(0, 0, 0, 0.356) 2px dotted; */
  padding: 1em;
  width: 93%;
  height: 100%;
}

/* border: black 2px dotted;
margin-top: 4em;
margin-bottom: 2em;
font-size: large; */
.sender_email {
  font-size: medium;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0 !important;
  color: rgba(28, 27, 27, 0.701);
}
.date {
  font-size: small;
  color: grey;
}
.otp {
  color: #584acc;
  font-weight: 700;
  margin-top: 0.3em;
  margin-bottom: 0;
}
#connect-account-p,
#accounts-info-container-p {
  font-size: 30px;
  font-weight: 700;
}

#get-results-btn {
  background-color: #584acc; /* Green */
  border: none;
  color: white;
  font-weight: 500;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#connect-account-btn {
  background-color: #fb9e74; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #fb9e74;
  border-radius: 50%;
  margin: auto;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#logout-btn {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
